[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
pokepy = "*"
pymongo = "*"
flask = "*"
pylint = "*"
emoji = "*"
asyncpg = "*"
black = "*"
pokebase = "*"
sphinx-rtd-theme = "*"
openai = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.8"
