[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
pokepy = "*"
pymongo = "*"
requests = "==2.21.*"
pyvjoy = "*"

[dev-packages]

[requires]
python_version = "3.8"
