[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
pymongo = "*"
flask = { extras = ["async"], version = "*" }
pylint = "*"
emoji = "*"
asyncpg = "*"
black = "*"
pokebase = "*"
sphinx-rtd-theme = "*"
pytz = "*"
sphinx = "*"
pint = "*"
requests = "==2.21.*"
pokepy = ">=0.6.1"
pdoc3 = "*"
pep257 = "*"
streamlink = "*"

[dev-packages]

[requires]
python_version = "3.8"
