footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 50px;
    color: gainsboro;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

footer p {
    padding-top: 15px;
    font-size: smaller;
}

.form {
    width: 100%;
    display: inline-block;
    height: 98px


}

button {
    color: beige;
    background: transparent;
    border: none;
    outline: none;
    width: 15%;
}

#username {
    float: left;
    color: beige;
    font-size: xxx-large;
    text-align: center;
    width: 85%;
    border: none;
    background: transparent;
}

#username :focus, #username:hover {
    outline: none;
}

/*div label{*/
/*    font-size: larger;*/
/*    text-align: center;*/
/*    width: 100% ;*/
/*    color: mediumslateblue;*/
/*}*/